#This will create this metric in all the tiers, under this alias
#metricPrefix: Custom Metrics|Apache|
#This will create it in specific Tier/Component. Make sure to replace <COMPONENT_ID> with the appropriate one from your environment.
#To find the <COMPONENT_ID> in your environment, please follow the screenshot https://docs.appdynamics.com/display/PRO44/Build+a+Monitoring+Extension+Using+Java
metricPrefix: Server|Component:<COMPONENT_ID>|Custom Metrics|Apache|

# Apache particulars
servers:
   - displayName: "Local Apache"
     host: "localhost"
     port: 80
     username: ""
     password: ""
     encryptedPassword: ""
     useSsl: false

connection:
  socketTimeout: 5000
  connectTimeout: 2500
  sslCertCheckEnabled: false
  sslVerifyHostname: false

proxy:
  uri:
  username:
  password:

# For each server you monitor, you will need a total of 1(by default) + 1(for serverMetrics) + 1(for jkMetrics) + 1(for each custom URL)
# By default we want to support 5 servers, so it is 5 * 4 = 20 threads.
numberOfThreads: 20

encryptionKey: